---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post }
    }));
}

const {
    post: {
        data: { title, date, tags, description, keywords },
        body,
        slug
    }
} = Astro.props;

const post = await getEntry('posts', slug);
const { Content } = await post.render();

const url = Astro.url;

const toc = body.split('\n')
    .filter((line) => line.startsWith('#'))
    .map((line) => ({
        level: line.split('#').length - 1,
        text: line.replace(/\*\*/g, '').replace(/#/g, '').replace(/\n/g, '').replace(/:/g, '').trim()
    }));

const socialLinks = [
  { name: "Twitter", url: `https://x.com/intent/tweet?text=${title}&url=${url}`, icon: "mdi:twitter" },
  { name: "Facebook", url: `https://www.facebook.com/sharer/sharer.php?u=${url}`, icon: "mdi:facebook" },
];

const formatDate = (date: string) => {
  return new Date(date).toLocaleDateString('ar', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    weekday: 'long'
  });
};
---

<Layout
  title={title}
  description={description}
  keywords={(keywords && keywords.join(', ')) || tags.join(', ') || slug.replace(/-/g, ', ')}
>
<main class="min-h-screen text-neutral-900 dark:text-neutral-100 font-arabic relative z-10">
   <div class="py-8 md:py-16 max-w-[100vw] md:max-w-3xl">
     <article class="bg-white dark:bg-neutral-800 rounded-lg shadow p-4 md:p-8 transition-all duration-300">
       <header class="mb-6 md:mb-10 border-b border-neutral-200 dark:border-neutral-700 pb-4 md:pb-6">
         <h1 class="text-2xl md:text-4xl font-bold mb-4">{title}</h1>
         <div class="flex flex-col md:flex-row md:items-center md:justify-between text-neutral-600 dark:text-neutral-400 mb-4">
           <div class="flex items-center mb-2 md:mb-0">
             <Icon name="mdi:calendar" class="w-4 h-4 md:w-5 md:h-5 me-2" />
             <time datetime={date} class="text-sm md:text-base">{formatDate(date)}</time>
           </div>
           <div class="flex items-center">
             <Icon name="mdi:clock" class="w-4 h-4 md:w-5 md:h-5 me-2" />
             <span class="text-sm md:text-base">{Math.ceil(body.split(' ').length / 150)} دقيقة للقراءة</span>
           </div>
         </div>
         <div class="flex flex-wrap gap-2">
           {tags.map((tag: string) => (
             <a
               href={`/tags/${tag}`}
               class="text-xs md:text-sm bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-200 px-2 md:px-3 py-1 rounded-full hover:bg-blue-200 dark:hover:bg-blue-800 transition-colors"
             >
               {tag}
             </a>
           ))}
         </div>
       </header>
       <nav class="mb-8 bg-neutral-100 dark:bg-neutral-700 p-4 rounded-lg">
                <h2 class="text-xl font-bold mb-4">محتويات المقال:</h2>
                <ul class="space-y-2">
                  {toc.map((item) => (
                    <li class={`mr-${item.level * 4} text-neutral-600 dark:text-neutral-300`}>
                      {item.text}
                    </li>
                  ))}
                </ul>
              </nav>

       <blockquote class="text-lg md:text-xl italic border-e-4 border-blue-500 pe-4 mb-6 md:mb-8">
         {description}
       </blockquote>

       <div class="prose dark:prose-invert max-w-none text-base md:text-lg markdown-content">
         <Content />
       </div>

        <footer class="mt-8 md:mt-12 pt-4 md:pt-6 border-t border-neutral-200 dark:border-neutral-700">
          <div class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-0 md:gap-4 mb-6">
            {socialLinks.map((link) => (
              <a
                href={link.url}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-flex items-center w-full md:w-auto justify-center bg-neutral-200 dark:bg-neutral-700 text-neutral-800 dark:text-neutral-200 px-4 py-2 rounded-full hover:bg-blue-500 hover:text-white dark:hover:bg-blue-500 transition-colors duration-300"
              >
                <Icon name={link.icon} class="w-4 h-4 md:w-5 md:h-5 me-2" />
                <span class="text-sm md:text-base">شارك على {link.name}</span>
              </a>
            ))}
          </div>
          <p class="text-center text-xs md:text-sm text-neutral-600 dark:text-neutral-400">
            هذا المقال مفتوح المصدر ويمكنك المساهمة في تحسينه عبر
            <a
              href={`https://github.com/aashahin/myblog/tree/main/src/content/posts/${slug}.mdoc`}
              class="text-blue-500 hover:text-blue-600 dark:hover:text-blue-400 transition-colors"
            >
              المصدر
            </a>
          </p>
        </footer>
      </article>
    </div>
  </main>
</Layout>

<style is:global>
.markdown-content pre {
    direction: ltr;
    text-align: left;
  }
  </style>
