---
import Layout from "../../layouts/Layout.astro";
import client from "../../../tina/__generated__/client";


const {data: {articleConnection: {edges}}} = await client.queries.articleConnection();
---

<Layout title="المدونة" description="مقالات تقنية وبرمجية"
        keywords="مدونة, تقنية, برمجة, نود جي اس, جافا سكريبت, جيتسبي, جيت">
    <main class="container px-4 w-fit md:w-1/2">
        <h1 class="text-3xl font-bold mt-8 mb-4 text-gray-900 dark:text-gray-100"
            aria-label="title">
            المدونة</h1>
        <section class="flex flex-col w-fit ms-8">
            {
                edges.map(({node: {title, date, tags, _sys: {filename}}}) => (
                        <article
                                class="flex flex-col my-4"
                        >
                            <div class="flex flex-wrap">
                                {
                                    tags.map(tag => (
                                            <a href=`/tags/${tag}`
                                               aria-label="tag"
                                               class="text-sm text-gray-500 hover:text-gray-700 dark:text-gray-100 dark:hover:text-gray-300">#{tag}</a>
                                    ))
                                }
                            </div>

                            <h2 class="text-lg font-semibold text-gray-900 hover:text-gray-700 dark:text-gray-100 dark:hover:text-gray-300">
                                <a href=`/blog/${filename}` data-astro-prefetch>{title}</a>
                            </h2>

                            <p class="text-sm text-gray-500">تاريخ النشر: {new Date(date).toLocaleDateString('ar')}</p>
                        </article>

                ))
            }
        </section>
    </main>
</Layout>